* {
	margin:0px;
	padding:0px
}

img {
	border:0px
}

html {
	width:100%;
	height:100%;
	text-align:center;
	background-color:#FFF6CA
}

body {
	width:620px;
	margin:auto;
	position:relative;
	text-align:left
}

h1 {
	color: #EF6E00;	
	font-size: 18px;
}
#header{
padding:25px 35px 17px 17px;
}
.small{
position:absolute;
top:55px;
right:59px
}
.small img{
margin:0 22px 0 0
}
.menu{
background-color:#FFFFFF;
background-image:url(rightmid.gif);
background-position:bottom right;
background-repeat:no-repeat;
float:left;
width:620px
}
.menu ul, .menu img{
float:left
}
.menu li{
float:left;
list-style-type:none
}
#content{
background-image:url(bg.gif);
background-position:top left;
background-repeat:repeat-y;
padding:0 0 0 25px;
margin:0 0 10px 0;
float:left;
width:595px;
font-family:tahoma;
font-size:11px;
color:#3A3A3A;
height: 100%;

}
#content a {
	color: #2E9C14;
}
.left{
width:265px;
/*height:98px;*/
padding:0 0 0 10px;
}
.left a{
margin:2px 0 0 5px;
}
.float{
float:left
}
.line {
height:1px;
background-color:#CCCCCC;
width:239px;
margin:10px 0 12px 22px;
}
.left img{
margin:0 10px 0 -4px
}
.left p{
padding:0 0 0 0
}
.left ul{
display:block;
padding:0 0 0 90px
}
.left li{
list-style-type:none;
background-image:url(arrowli.gif);
background-position:0px 3px;
background-repeat:no-repeat;
padding:0 0 0 10px;;
line-height:14px
}
.left a{
font-family:Tahoma;
font-size:11px;
color:#2E9C14;
text-decoration:underline
}
.left a:visited{text-decoration:underline}
.left a:hover{text-decoration:none}
.right{
background-color:#FFF9DC;
width:277px;
float:right;
margin:-10px 35px 14px 0;
position:relative;
}
.item{
padding:14px 10px 0 20px;
font-family:Tahoma;
font-size:11px;
color:#3A3A3A;
float:left;
}
.item img{
float:left;
padding:0 8px 15px 0
}

.item span{
display:block;
font-weight:bold;
float:right;
margin:5px 5px 5px 0
}
.item span strong{
color:#EF6E00
}
.title{
margin:10px 0 0 20px
}
.line2 {
height:1px;
background-color:#CCCCCC;
width:239px;
float:left;
margin:0 0 0 20px
}
.pad{
margin:0 0 0 -25px;
}
.bot{
background-image:url(bot.jpg);
background-position:right bottom;
background-repeat:no-repeat;
margin:0 0 0 -25px;
padding:15px 0 0 41px;
height:34px
}
.bot ul{
float:right;
margin:0 50px 0 0
}
.bot li{
list-style-type:none;
background-image:url(arrowli.gif);
background-position:0px 4px;
background-repeat:no-repeat;
padding:0 0 0 10px;
}
.bot a{
font-family:Tahoma;
font-size:11px;
font-weight:bold;
color:#2E9C14;
text-decoration:none
}
.a{
display:block;
float:left;
width:570px;
padding:10px 0 26px 1px
}
.a img{
float:left;
margin:0 9px 0 0
}
#footer, #footer a{
font-family:Tahoma;
font-size:12px;
color:#2E9C14;
text-decoration:none;
text-align:center;
}
#footer p{
padding:10px 0 0 0
}
#footer a{
padding:7px;
}
#footer a:visited{text-decoration:none}
#footer a:hover{text-decoration:underline}
#content .inner_copy {border:0;color:#f00;float:left;width:50%!important;margin:-202px 0 0 0;overflow:hidden;line-height:0;padding:0;font-size:12px}


.image {
	position: relative;
	width: 100%;
}

.image span {
	position: absolute;
	top: 0px;
	left: 0;
	width: 100%;
	padding: 5px 0px 1px 0px;
	text-align: center;
	font-family: Tahoma;
	font-size: 16px;
	font-weight: bold;
	color: white;
	text-decoration:none;
}

.image a {text-decoration:none}


/* Flash */
.error, .alert, .notice, .success, .info {padding:0.8em;margin-bottom:1em;border:2px solid #ddd;}
.error, .alert {background:#fbe3e4;color:#8a1f11;border-color:#fbc2c4;}
.notice {background:#fff6bf;color:#514721;border-color:#ffd324;}
.success {background:#e6efc2;color:#264409;border-color:#c6d880;}
.info {background:#d5edf8;color:#205791;border-color:#92cae4;}
.error a, .alert a {color:#8a1f11;}
.notice a {color:#514721;}
.success a {color:#264409;}
.info a {color:#205791;}

.container {
	max-width: 570px;
}

.price {
	color: #EF6E00;
	font-weight: bold;
}


input[type=submit] {
	
}

.selectedfoodtype {
	font-weight: bolder;
}
