<div id="footer">
  <div  id="nav">
    
      <%= link_to "Chi Siamo", about_path %>
	  <%= link_to "Dove Siamo", where_path  %>
	  <%= link_to "Contatti", contact_path  %>
	  <%= link_to "News", news_path  %>
    
  </div>
</div>