
<footer>
  <nav>
    <ul>
      <li><%= link_to "Contatti", contact_path  %></li>
	  <li><%= link_to "Dove Siamo", where_path  %></li>
      <li><%= link_to "Link Utili", links_path  %></li>
    </ul>
  </nav>
</footer>