
<footer>
  <nav>
    <ul>
      <li><%= link_to "Chi Siamo", about_path %></li>
	  <li><%= link_to "Dove Siamo", where_path  %></li>
      <li><%= link_to "Contatti", contact_path  %></li>
      <li><%= link_to "News", news_path  %></li>
    </ul>
  </nav>
</footer>