<div id="footer">
  <div  id="nav">
    
      <%= link_to "Chi Siamo", root_path %>
	  <%= link_to "Dove Siamo", root_path  %>
	  <%= link_to "Contatti", root_path  %>
	  <%= link_to "News", root_path  %>
    
  </div>
</div>